.snote {
    -ms-flex-align: end;
    align-items: flex-end;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.4rem;
    line-height: 1.2;
    max-width: 250px;
    position: fixed;
    right: 10%;
    top: 10%;
    z-index: 99999;
}

.snote--default {
    background-color: #ff7a00;
    color: #fff; 
}

.snote--green {
    background-color: green;
    color: #fff; 
}

.snote__item {
    animation: show-snote 1s;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.5);
    display: inline-block;
    margin-bottom: 15px;
    padding: 15px;
    position: relative;
    transition: all .1s ease-in;
    width: auto; 
}

@keyframes show-snote {
    from {
        opacity: 0;
        transform: translate(0, 100%); }
    to {
        opacity: 1;
        transform: translate(0, 0); 
    } 
}