.container .comments {
    font-size: 16px;
}

.container .comments a {
    color: #fff;
}

.media-left {
    width: 10%;
}

.media-body .author {
    display: block;
    font-size: 1.7rem;
    color: #fff;
    font-weight: 700;
}

.media-body .metadata {
    display: block;
    color: #fff;
    font-size: 1.3rem;
}

.title-comments {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, .87);
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.media-left img {
    width: 50px;
}

.media {
    margin-top: 0px;
}